{% extends "FGSGestionComptesBundle::admin.html.twig" %}
{% block title %}Users{% endblock %}
{% block big_title %}Reclamations :{% endblock %}
{% block contenu %}
    <table class="table">
        <tr>
            <th>Nom utilisateur</th>
            <th>Email</th>
            <th></th>
        </tr>
        {% for User in Users %}
            <tr>
                <td > {{ User.username }}
                </td>
                <td>{{ User.email }}</td>
                {% if User.enabled==1 %}
                <td> <a href="{{ path('fgs_gestion_comptes_banir_Utilisateurs',{'id':User.id}) }}"> <span class="glyphicon glyphicon-remove"> Banir Utilisateur</span></a></td>
            {% endif %}
            {% if User.enabled==0 %}
                <td> <a href="{{ path('fgs_gestion_comptes_Unbanir_Utilisateurs',{'id':User.id}) }}"> <span class="glyphicon glyphicon-remove"> Unban Utilisateur</span></a></td>
            {% endif %}

            </tr>

        {% endfor %}
    </table>
{% endblock %}